<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 60050</h1>
      <h2>Machine Learning</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: NR-222, Nalanda Complex<br/>
        Lecture: MTF 5pm - 6pm<br/>
        Course material: <a href="https://github.com/cs60050">GitHub</a><br/>
        Discussion: <a href="">Moodle</a><br/>
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
      <p>
        Lecturer: Pabitra Mitra<br/>
        Email: <a href="mailto:pabitra@cse.iitkgp.ernet.in?subject=[CS 60050]">pabitra@cse.iitkgp.ernet.in</a><br/>
        OH : Tuesday: 6pm - 7pm, Dept. of CSE<br/>
     <br/>
      </p>
    </div>
    </div>
  </div>
</div>
